<!DOCTYPE html>
<html>
<head>
    <title>AutoHealing Demo</title>
</head>
<body>
    <h1>Sistema Auto-Healing Funcionando!</h1>
    <p>Hostname: {{ ansible_hostname }}</p>
    <p>Hora del servidor: {{ ansible_date_time.iso8601 }}</p>
</body>
</html>
